.navbarSticky {
  position: sticky;
  top: 20px; /* Отступ от верха */
  z-index: 1000; /* Поверх всего */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 15px;
  background-color: rgba(255, 249, 253, 0.3); /* Более непрозрачный */
  backdrop-filter: blur(10px);
  min-height: 60.2px;
  font-size: 23px;
  border-radius: 14px;
  box-shadow: 12px 19px 46px -32px rgba(34, 60, 80, 0.6);
  width: calc(100% - 40px); /* Учитываем margin */
  margin: 20px;
}

.link {
  list-style: none;
  text-decoration: none;
  color: white;
}
