/* Основные стили */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'VK';
  src: url(./fonts/VK_Sans_Display_Regular111.ttf);
}

body {
  font-family: 'VK', sans-serif;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
